<script setup lang="ts">
import { RouterView, RouterLink, useRouter, useRoute } from 'vue-router'
const router = useRouter()
const route = useRoute()
function goToChat() {
  router.push({name: 'chat'})
}
</script>

<template>
  <ul>
    <li><RouterLink to="/">Home</RouterLink></li>
    <li><RouterLink :to="{ name: 'chat' }">Chat</RouterLink></li>
    <li><RouterLink :to="{ path: '/address-book' }">Address Book</RouterLink></li>
  </ul>
  <div>{{ route.name }}</div>
  <button @click="goToChat()">Click to Chat</button>
  <RouterView />
</template>

<style scoped></style>
